@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../../assets/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../../assets/fonts/Lato Regular/Lato Regular.ttf");
}

@font-face {
    font-family: "Su Regular";
    src: url("../../assets/fonts/Su Regular/Su Regular.ttf");
}

@font-face {
    font-family: "Su Bold";
    src: url("../../assets/fonts/Su Bold/Su Bold.ttf");
}